html, body, div, span, applet, object, iframe, h1, h2, h3, h5, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 
=======================================
типографія
=======================================
 */

body {
    font-family: Libre Franklin;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
}

header a {
    color: #FFFFFF;
}

footer a {
    font-style: normal;
    
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    text-decoration: none;
}

header {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}

.main-nav {
    
    
    font-size: 18px;
    line-height: 22px;
}

h1 {
    
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

h2 {
    font-size: 20px;
    
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

h3 {
    
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

h4 {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

h5 {
    
    font-weight: 600;
    line-height: 25px;
}

.arrow {
    font-size: 50px;
}

header {
    background: linear-gradient( rgba(198, 108, 73, 0.4), rgba(198, 108, 73, 0.4)), url(img/bg_for_Iphone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    height: 275px;
    position: relative;
}

.menu-icon {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

.row p {
    
    
    line-height: 15px;
    text-align: justify;
    color: #333333
}

.flex-column li {
    
    
    line-height: 25px;
}

.diagram {
    background: #F5D6AB;
    height: 18px;
    z-index: 0;
}

.diagram>div {
    background: #C66C49;
    height: 18px;
    z-index: 1;
}

/* 
====================================
Розміщення
==================================== 
*/

body {
    min-width: 375px;
    max-width: 900px;
    margin: 0 auto;
}

main>section, footer {
    padding: 0 7% 0 9%;
}

.main-nav {
    min-width: 510px;
    float: right;
    display: none;
    text-align: right;

}

.main-nav>ul>li {
    display: inline-block;

    margin-right: 8%;
}

.main-nav a {
    text-decoration: none;
}

header {
    padding-top: 36px;
}

.menu-icon {
    position: absolute;
}

h2 {
    margin-top: 50px;
}

.signature {
    margin-top: 13px;
}

.header-link {
    margin-top: 41px;
}

.main-nav ul li {
    display: inline-block;
}

.menu-icon {
    left: 34px;
    top: 39px;
    height: 24px;
    width: 24px;
}

h3 {
    margin-bottom: 19px;
}

.row {
    padding-top: 25px;
    padding-bottom: 25px;
}

.row p {
    margin-bottom: 14px;
}

.pair-row {
    background: #FFFAF2;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.flex-column {
    margin-top: 6px;
    text-align: left;
    width: 82%;
}

.profile-picture {
    width: 224px;
}

.profile-picture>img {
    width: 100%;
}



.flex-column li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 22px;
}

.flex-column li>div>div {
    width: 83%;
}

.flex-column li>div {
    display: flex;
    justify-content: space-between;
}

.flex-column h5 {
    min-width: 82px;
    width: 21%;
    margin-right: 4%;
}


.profile-picture {
    margin-bottom: 20px;
}

.portfolio>div>img {
    width: 100%;
}

.galery {
    width: 308px;
    display: flex;
    justify-content: space-between;
}

.galery>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 195px;
}

.galery>div>img {
    width: 100%;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio p {
    text-align: center;
}

.link-lists {
    display: flex;
    justify-content: space-between;
    width: 308px;
    
}

.link-lists ul {
    width: 142px;
}
.link-lists ul>li {
    margin-bottom: 19px;
}
.contact {
    width: 308px;
}

.contact a {
    display: block;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 
===========================================
media quary
===========================================
 */

@media only screen and (min-width: 900px) {
    body {
        
        max-width: 1440px;
        margin: 0 auto;
    }
    main>section, footer, header {
        padding: 6% 10% 8% 11%;
    }
    .row {
        padding-top: 7%;
        padding-bottom: 10%;
    }
    header {
        height: 768px;
        background: linear-gradient( rgba(198, 108, 73, 0.4), rgba(198, 108, 73, 0.4)), url(img/bgfds.png);
        background-position: center;
    }
    .container {
        flex-direction: row;
        align-items: left;
        text-align: left;
    }
    .galery {
        flex-direction: row;
    }
    .portfolio {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .portfolio p {
        width: 30%;
        min-width: 349px;
        text-align: justify;
    }
    .footer-container {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer-container>div {
        width: 50%;
    }
    .main-nav {
        display: block;
    }
    .menu-icon {
        display: none;
    }
    .row {
        padding-bottom: 5%;
    }
    .main-nav {
        top: (header);
    }
    h3 {
        margin-bottom: 76px;
    }
    .row p {
        padding-top: 9px;
    }
    .profile-picture {
        min-width: 350px;
    }
    .flex-column {
        margin-left: 11%;
    }
    .flex-column h5 {
        min-width: 125px;
    }
    .portfolio {
        justify-content: flex-start;
    }
    .galery {
        margin-left: 11%;
        width: 634px;
    }
    .galery>div {
        height: 100%;
        justify-content: space-between;
    }
    .galery>div>img {
        width: 100%;
        margin-bottom: 7%;
    }
    .galery-right-column {
        width: 40%;
    }
    .galery-left-column {
        width: 55%;
    }

    .link-lists>ul>li {
        margin-bottom: 14px;
    }
    .contact a {
        margin-bottom: 14px;
    }

    .contact {
        text-align: center;        
    }
    h2 {
        margin-top: 145px;
    }
    .signature {
        margin-top: 26px;
    }
    .header-link {
        padding-top: 106px;
    }
    .profile {
        padding-bottom: 5%;
    }
    .flex-column li {
        margin-bottom: 2%
    }
    /* 
    ==============================================
    типографіка
    ==============================================
     */
    body {
        font-size: 18px;
    }
    header {
        text-align: left;
    }
    h2 {
        font-family: Libre Franklin;
        font-size: 64px;
        line-height: 78px;
    }
    h3 {
        text-align: left;
    }
    h4 {
        font-size: 18px;
        text-align: left;
    }
    .signature {
        font-size: 24px;   
    }
    .row p {
        
        
        line-height: 167%;
        text-align: justify;
        color: #333333;
    }
    .footer-container a {
        
        
        font-size: 18px;
        line-height: 22px;
        
    }
}