html, body, div, span, applet, object, iframe, h1, h2, h3, h5, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 
=======================================
типографія
=======================================
 */

header a {
    color: #FFFFFF;
}

footer a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    text-decoration: none;
}

header {
    color: #FFFFFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}

body {
    font-family: Libre Franklin;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
}

.arrow {
    font-size: 50px;
}

header {
    background: linear-gradient( rgba(198, 108, 73, 0.4), rgba(198, 108, 73, 0.4)), url(img/bgfds.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    height: 275px;
    position: relative;
}

.menu-icon {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

.row p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    color: #333333
}

.flex-column li {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
}

.diagram {
    background: #F5D6AB;
    height: 18px;
    z-index: 0;
}

.diagram>div {
    background: #C66C49;
    height: 18px;
    z-index: 1;
}

.fornt-end-dev-strip {
    width: 165px;
}

/* 
====================================
Розміщення
==================================== 
*/

header, footer, main {
    width: 375px;
    margin: 0 auto;
}

header {
    padding-top: 36px;
}

.menu-icon {
    position: absolute;
}

h2 {
    padding-top: 50px;
}

.signature {
    padding-top: 13px;
}

.header-link {
    padding-top: 41px;
}

.menu-icon {
    left: 34px;
    top: 39px;
    height: 24px;
    width: 24px;
}

h3 {
    padding-top: 25px;
    padding-bottom: 19px;
}

.row {
    padding: 0px 34px 25px 29px;
}

.row p {
    margin-bottom: 14px;
}

.pair-row {
    background: #FFFAF2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container>div {
    margin-top: 6px;
}

.flex-column {
    -webkit-flex: 1;
    text-align: left;
    flex: 1;
}

.flex-column li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 22px;
}

.flex-column li>div>div {
    width: 211px;
}

.flex-column li>div {
    display: flex;
    justify-content: space-between;
}

.fornt-end-dev-strip {
    width: 135px;
}

.ui-design-strip {
    width: 165px;
}

.ux-research-strip {
    width: 179px;
}

.profile-picture {
    margin-bottom: 20px;
}

.galery {
    width: 308px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galery>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 195px;
}

.portfolio p {
    text-align: center;
}

.link-lists {
    display: flex;
    justify-content: left;
    justify-content: space-between;
}

.link-lists ul {
    width: 142px;
}
.contact {
    margin-top: 30px;
}
.contact a{
    display: block;
}
/* 
===========================================
media quary
===========================================
 */
@media only screen and (min-width: 700px) {
    header, main, footer {
        width: 1440px;
    }

}