h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: blue;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: darkcyan;
}
h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cadetblue;
}
table {
    border-collapse: collapse;
  }
th,
td {
  border: 1px solid black;
  padding: 10px 15px;
}
.avatar {
    height: 200px;
}